<div class="card">
    <div class="card-body">
    <h5 class="card-title">Consulta de alunos</h5>
    <p class="card-text">Listagem de alunos cadastrados</p>
    <hr/>
    <table class="table table-sm table-hover">
    <thead>
    <tr>
    <th>Nome do aluno</th>
    <th>Turma</th>
    <th>Materias</th>
    <th>Professor</th>
    <th>Operações</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
        <button class="btn btn-outline-primary btn-sm"
        [routerLink]="['/edicao-faculdade']">
        Editar
        </button>
    &nbsp;
    
    <button class="btn btn-outline-danger 
 btn-sm">Excluir</button>
</td>
</tr>
</tbody>
<tfoot>
<tr>
<td colspan="5">
Quantidade de funcionários: 0
</td>
</tr>
</tfoot>
</table>
</div>
</div>
