<div class="card">
<div class="card-body">
    <h5 class="card-title">Cadastro de aluno</h5>
<p class="card-text">Preencha os campos para cadastrar um aluno.</p>
<hr/>
<form>
    
<div class="row mb-">
<div class="col-md-4">
<label>Nome do aluno:</label>
<input type="text" class="form-control"
 placeholder="Digite aqui" />
 
</div>

</div>
<div class="row mb-3">
<div class="col-md-4">
<label>Turma:</label>
<input type="text" class="form-control"
 placeholder="Digite aqui" 
 formControlName="nome" />
 
</div>

</div>
<div class="row mb-3">
<div class="col-md-4">
<label>Materias:</label>
<input type="text" class="form-control"
 placeholder="Digite aqui" />
</div>

</div>
<div class="row mb-3">
<div class="col-md-4">
<label>Professor:</label>
<input type="text" class="form-control"
 placeholder="Digite aqui" />
</div>

</div>
<div class="row mb-3">
<div class="col-md-12">
<input type="submit" value="Cadastrar "
 class="btn btn-success" />
</div>
</div>
</form>
</div>
</div>
